.h5 {
    color: var(--color-light);
    position: relative;
    border: 2px;
}

.recovics {
    /*background-color:var(--color-bg-variant); */
    transition: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 0.5rem;
    position: relative;
    top: 1.5vw;
    left: 2.5vw;
   /* left: 47vw; */
}

.h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.uniproject_container {
    background: var(--color-bg-variant);
    position: relative;
    left: 20vw;
    padding: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 2rem;
    /*border: 1px solid transparent; */
    transition: var(--color-bg-variant);
}